
<%= form_for(@user, url: registration_path(@user), html: { class: 'adoption-form' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <%= f.hidden_field :id, value: @user.id %>

  <div class="field">
    <h2>Editar usuario</h2>
    <p><%= f.label :Nombre %><br /> <%= f.text_field :name, class: 'form-field' %></p>
    <p><%= f.label :Apellido %><br /> <%= f.text_field :last_name, class: 'form-field' %></p>
    <p><%= f.label :Dirección %><br /> <%= f.text_field :address, class: 'form-field' %></p>
    <p><%= f.label :Telefono %><br /> <%= f.text_field :phone_number, class: 'form-field' %></p>
  </div>

  <div class="actions flex-container">
    <%= f.submit "Guardar", class: 'btn btn-primary' %>
    <%= link_to "Cancelar", root_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<!-- Tu script JavaScript -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var changePasswordCheckbox = document.getElementById("user_change_password_checkbox");
    var passwordFields = document.getElementById("password_fields");

    changePasswordCheckbox.addEventListener("change", function () {
      passwordFields.style.display = changePasswordCheckbox.checked ? "block" : "none";
    });
  });
</script>
