
<h2>Edit User</h2>

<%= form_for(@user, url: registration_path(@user)) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <%= f.hidden_field :id, value: @user.id %>

  <div class="field">
  <p> <%= f.label :Nombre%><br /> <%= f.text_field :name%> </p>
  <p> <%= f.label :Apellido%><br /> <%= f.text_field :last_name%> </p>
  <p> <%= f.label :Dirección %><br /> <%= f.text_field :address%> </p>
  <p> <%= f.label :Telefono %><br /> <%= f.text_field :phone_number%> </p>
</div>

<% if current_user.es_admin %>
<div class="field">
 <label>DNI</label><br />
  <%= f.number_field :identifier_number, autofocus: true, autocomplete: "DNI" %>
</div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<% end %>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
  <%= link_to "Cancelar", root_path %>
<% end %>

<%= render "devise/shared/links" %>
