<div class="form-container">
  <%= form_for @dog do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= render_error_messages_for(@dog, :name) %>
    </div>

    <div class="form-group">
      <%= f.label :breed, 'Raza' %>
      <%= f.text_field :breed, class: 'form-control' %>
      <%= render_error_messages_for(@dog, :breed) %>
    </div>

    <div class="form-group">
      <%= f.label :birthdate, 'Fecha de Nacimiento' %>
      <%= f.date_field :birthdate, class: 'form-control' %>
      <%= render_error_messages_for(@dog, :birthdate) %>
    </div>

    <div class="form-group">
      <%= f.label :colour, 'Color' %>
      <%= f.text_field :colour, class: 'form-control' %>
      <%= render_error_messages_for(@dog, :colour) %>
    </div>

    <div class="form-group">
      <%= f.label :observations, 'Observaciones' %>
      <%= f.text_field :observations, class: 'form-control' %>
      <%= render_error_messages_for(@dog, :observations) %>
    </div>

    <div class="form-group">
      
      <%= f.label :image, 'Foto', class: 'text-white' %>
      <div>
      <%= f.file_field :image, id: 'customFile' %>
      <%= render_error_messages_for(@dog, :image) %>
      </div>
    </div>

    <%= f.hidden_field :user_id, value: params[:user_id] %>

    <%= f.submit 'Registrar Perro', class: 'btn btn-primary' %>
  <% end %>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $('#new_dog').submit(function(event) {
      // Reinicia los mensajes de error antes de cada envío
      $('.error-message').remove();

      // Valida cada campo
      var isValid = true;

      if (!$('#dog_name').val()) {
        $('#dog_name').after('<p class="error-message">Este campo es obligatorio</p>');
        isValid = false;
      }

      if (!$('#dog_breed').val()) {
        $('#dog_breed').after('<p class="error-message">Este campo es obligatorio</p>');
        isValid = false;
      }

      if (!$('#dog_birthdate').val()) {
        $('#dog_birthdate').after('<p class="error-message">Este campo es obligatorio</p>');
        isValid = false;
      }

      if (!$('#dog_image').val()) {
        $('#dog_image').after('<p class="error-message">Este campo es obligatorio</p>');
        isValid = false;
      }

      if (!$('#dog_colour').val()) {
        $('#dog_colour').after('<p class="error-message">Este campo es obligatorio</p>');
        isValid = false;
      }

      if (!$('#dog_observations').val()) {
        $('#dog_observations').after('<p class="error-message">Este campo es obligatorio</p>');
        isValid = false;
      }

      // Si algún campo no es válido, evita el envío del formulario
      if (!isValid) {
        event.preventDefault();
      }
    });
  });
</script>

<style>

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2596be; /* Color de fondo */
  border: 5px solid #f8934f; /* Color del borde */
  border-radius: 15px; /* Bordes redondeados */
}


</style>