  <h2>Un usuario desea solicitar tus Servicios!</h2>
  <p>Hola <%= @post_creator_email %>,</p>
  <p>Has recibido un nuevo mensaje de contacto:</p>
  <ul>
    <li><b>Nombre:</b> <%= @dog_walkers_sitters_contact.nombre %></li>
    <li><b>Correo electrónico:</b> <%= @dog_walkers_sitters_contact.email %></li>
    <li><b>Teléfono:</b> <%= @dog_walkers_sitters_contact.telefono %></li>
    <li><b>Mensaje:</b> <%= @dog_walkers_sitters_contact.mensaje %></li>
  </ul>