<%= form_tag users_search_path, method: :get do %>
  <%= text_field_tag :query, params[:query], placeholder: "Buscar usuarios por nombre o email" %>
  <%= submit_tag "Buscar" %>
<% end %>

<% if params[:query].present? %>
  <% if @users.present? %>
    <h2>Resultados de la búsqueda:</h2>
    <ul>
      <% @users.each do |user| %>
        <li><%= user.name %> - <%= user.email %></li> 
        <% if current_user && current_user.es_admin? %>
        <%= link_to "Editar", edit_user_path(id: user.id) %>
        <% end %>
        <%= link_to "Registrar perro", new_dog_path(user_id: user.id) %>
        <%= link_to "Ver Perros", dogs_path(user_id: user.id) %>
      <% end %> 
    </ul>
  <% else %>
    <p>No se encontraron usuarios.</p>
  <% end %>
<% end %>
