<%= form_tag users_search_path, method: :get, class: "search-form" do %>
  <div class="form-container">
    <div class="form-group">
      <%= text_field_tag :query, params[:query], placeholder: "Buscar usuarios por DNI o email", class: "form-control search-input" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Buscar", class: "btn btn-primary search-button" %>
    </div>
    <% if params[:query].present? %>
      <% if @users.present? %>
        <div class="search-results">
          <!-- Contenedor scrollable para la tabla -->
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th style="background-color: #007bff; color: #fff;">Nombre</th>
                  <th style="background-color: #007bff; color: #fff;">Apellido</th>
                  <th style="background-color: #007bff; color: #fff;">DNI</th>
                  <th style="background-color: #007bff; color: #fff;">Email</th>
                  <% if current_user && current_user.es_admin? %>
                    <th style="background-color: #007bff; color: #fff;">Acciones</th>
                  <% end %>
                </tr>
              </thead>

              <tbody>
                <% @users.first(params[:rowsPerPage].to_i).each do |user| %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.identifier_number %></td>
                    <td><%= user.email %></td>
                    <% if current_user && current_user.es_admin? %>
                      <td>
                        <%= link_to "Editar", edit_user_path(id: user.id), class: "btn btn-secondary action-button" %>
                        <%= link_to "Registrar perro", new_dog_path(user_id: user.id), class: "btn btn-primary action-button" %>
                        <%= link_to "Ver Perros", dogs_path(user_id: user.id), class: "btn btn-info action-button" %>
                      </td>
                    <% end %>
                  </tr>
                <% end %> 
              </tbody>
            </table>
          </div>
        <% else %>
          <p class="no-results">No se encontraron usuarios.</p>
      <% end %>
    <% else %>
      <p> Ingrese un DNI o email para buscar usuarios.</p>
    <% end %>
    <!-- Selector de cantidad de filas a mostrar -->
    <div class="rows-per-page-container">
    <label for="rowsPerPage">Mostrar filas:</label>
    <%= select_tag "rowsPerPage", options_for_select([1, 2, 5, 10], params[:rowsPerPage].to_i), class: "form-control", onchange: "this.form.submit()" %>
    </div>
</div>
  </div>
<% end %>

<style>


.table-container {
  max-height: 320px; /* Establece la altura máxima deseada */
  overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
  margin-bottom: 10px; /* Espacio entre la tabla y el selector de filas */
}

.rows-per-page-container {
  text-align: left; /* Alinea el selector de filas a la derecha */
  max-width: 20%; /* Establece el ancho máximo al 10% */
}


.form-container {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.search-results {
  margin-top: 20px;
  text-align: center;
}

table {
  width: 80%;
  border-collapse: collapse;
    margin: 20px auto; /* Centra horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    vertical-align: middle;
  }

  th {
    position: relative;
    background-color: #2596be;
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    margin-bottom: 35px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2; /* Fondo de filas pares */
  }

.action-button {
  margin-right: 5px;
}

.no-results {
  color: red;
  font-weight: bold;
}

.action-button {
  margin-right: 5px;
  padding: 8px 12px; /* Ajustar el padding para hacer los botones más pequeños */
  font-size: 14px; /* Ajustar el tamaño de la fuente */
}

</style>