<div class="adoption-posts-container">
<% if @user.es_admin %>
<div class="profile-header">
        <h1>Perfil de Usuario (Administrador)</h1>
        <div class="edit-button">
            <%= link_to "Editar Perfil", edit_user_path(id: current_user.id), class: "btn btn-edit-profile" %>
        </div>
    </div>
<% else %>
    <div class="profile-header">
        <h1>Perfil de Usuario</h1>
        <div class="edit-button">
            <%= link_to "Editar Perfil", edit_user_path(id: current_user.id), class: "btn btn-edit-profile" %>
        </div>
    </div>
<% end %>
  <div class="field">
    <label class="adoption-posts-font">Nombre:</label>
    <p>&emsp;<%= @user.name %></p>
  </div>

  <div class="field">
    <label class="adoption-posts-font">Email:</label>
    <p>&emsp;<%= @user.email %></p>
  </div>

  <div class="field">
    <label class="adoption-posts-font">Número de DNI:</label>
    <p>&emsp;<%= @user.identifier_number %></p>
  </div>

  <div class="field">
    <label class="adoption-posts-font">Apellido:</label>
    <p>&emsp;<%= @user.last_name %></p>
  </div>

  <div class="field">
    <label class="adoption-posts-font">Dirección:</label>
    <p>&emsp;<%= @user.address %></p>
  </div>

  <div class="field">
    <label class="adoption-posts-font">Número de Teléfono:</label>
    <p>&emsp;<%= @user.phone_number %></p>
  </div>

</div>