<%= javascript_include_tag 'adoption_posts' %>

<script>
  const postIds = <%= raw @adoption_posts_ids.to_json %>;

  function redirectToEdit(postId) {
    window.location.href = `/adoption_posts/${postId}/edit`;
  }

  // Función para mostrar el mensaje de confirmación y eliminar el post
  function confirmDelete(postId) {
    const confirmMessage = "¿Estás seguro de que quieres eliminar esta publicación?";
    const isConfirmed = confirm(confirmMessage);

    if (isConfirmed) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;

        fetch(`/adoption_posts/${postId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          },
        })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response;
        })
        .then(data => {
            // Almacenar un indicador en el Local Storage antes de recargar la página
            localStorage.setItem('deleteConfirmation', 'true');
      
            // Realizar la recarga de la página después de eliminar el post
            console.log('Post eliminado exitosamente. Recargando la página.');
            window.location.reload();
        })
        .catch(error => {
          console.error('Error al eliminar el post:', error);
        });
    }
  }

  // Agrega este código al final de tu script JavaScript
    document.addEventListener('DOMContentLoaded', function () {
    const deleteConfirmation = localStorage.getItem('deleteConfirmation');

    if (deleteConfirmation === 'true') {
        const notificationBar = document.getElementById('notification-bar');
        const closeBtn = document.getElementById('close-btn');

        notificationBar.style.display = 'block';

        setTimeout(() => {
        notificationBar.style.display = 'none';
        localStorage.removeItem('deleteConfirmation');
        }, 3000);

        closeBtn.addEventListener('click', function () {
        notificationBar.style.display = 'none';
        localStorage.removeItem('deleteConfirmation');
        });
    }
    });
</script>

<%= link_to "Añadir publicación", new_adoption_post_path, class: "btn btn-primary btn-floating position-fixed bottom-0 end-0 m-3" %>
<% if @adoption_posts.size > 0 %>
    <% @adoption_posts.each do |post| %>
        <div class="adoption-posts-container">
            <div class="adoption-posts-title">
                <h2 class="adoption-posts-font"> <%= post.dog_name %> </h2>
                <% if user_signed_in? && current_user == post.user %>
                    <button id="edit-btn-<%= post.id %>" class="post-edit-btn" onclick="redirectToEdit(<%= post.id %>)">
                        Editar
                    </button>
                <% end %>
                <% if user_signed_in? && (current_user == post.user || current_user.es_admin) %>
                    <button onclick="confirmDelete(<%= post.id %>)" class="post-delete-btn">Eliminar</button>
                <% end %>
            </div>
            <div>
                <p class="adoption-posts-font"> 
                    <b>Edad:</b> <%= post.dog_age %> años | 
                    <b>Sexo:</b> <%= post.dog_sex %> | 
                    <b>Raza:</b> <%= post.dog_breed %>
                </p>
            </div>
            <p class="adoption-posts-font"> <b>Caracteristicas:</b> <%= post.dog_charac %> </p>
            <p class="adoption-posts-font"> <b>Historia:</b> <%= post.dog_history %> </p>
            <div class="adoption-posts-corner-icons">
                <i class='fas fa-bone top-left-icon'></i>
                <i class='fas fa-bone top-right-icon'></i>
                <i class='fas fa-bone bottom-left-icon'></i>
                <i class='fas fa-bone bottom-right-icon'></i>
            </div>
        </div>
    <% end %>
<% else %>
    <div class="no-posts-message">
        <h2>Aún no hay publicaciones creadas</h2>
    </div>
<% end %>

<!-- Modifica estos elementos en tu vista -->
<div id="notification-bar">
  <span>Publicación eliminada</span>
  <span id="close-btn">&times;</span>
</div>