<% if user_signed_in? && current_user.es_admin? %>
  <%= link_to "Crear novedad", new_news_path, class: "btn btn-primary btn-floating position-fixed bottom-0 end-0 m-3 front-all" %>
<% end %>

<% @news.each_with_index do |new, index| %>
    <div class="news-item <%= index.even? ? 'even' : 'odd' %>">
      <h2><%= new.title %></h2>
      <p><%= new.description %></p>
      <% if new.image.attached? %>
        <%= image_tag new.image %>
      <% end %>
      <% if user_signed_in? && current_user.es_admin %>
        <div class="admin-buttons">
          <button onclick="editPost(<%= new.id %>)" class="post-edit-btn">Editar</button>
          <button onclick="confirmDelete(<%= new.id %>)" class="post-delete-btn">Eliminar</button>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if @news.size == 0 %>
    <div class="no-posts-message">
      <h2>Aún no hay novedades</h2>
    </div>
  <% end %>
  
<script>

// Función para mostrar el mensaje de confirmación y eliminar la novedad
  function confirmDelete(newId) {
    const confirmMessage = "¿Estás seguro de que quieres eliminar esta publicación?";
    const isConfirmed = confirm(confirmMessage);

    if (isConfirmed) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;

        fetch(`/news/${newId}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          },
        })
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response;
        })
        .then(data => {
            // Almacenar un indicador en el Local Storage antes de recargar la página
            localStorage.setItem('deleteConfirmation', 'true');
      
            // Realizar la recarga de la página después de eliminar el post
            console.log('Post eliminado exitosamente. Recargando la página.');
            window.location.reload();
        })
        .catch(error => {
          console.error('Error al eliminar el post:', error);
        });
    }
  }

  function editPost(newId) {
    window.location.href = `/news/${newId}/edit`;
  }



</script>