<% if user_signed_in? && current_user.es_admin? %>
  <%= link_to "Crear novedad", new_news_path, class: "btn btn-primary btn-floating position-fixed bottom-0 end-0 m-3 front-all" %>
<% end %>

<% @news.each_with_index do |new, index| %>
    <div class="news-item <%= index.even? ? 'even' : 'odd' %>">
      <h2><%= new.title %></h2>
      <p><%= new.description %></p>
      <% if new.image.attached? %>
        <%= image_tag new.image %>
      <% end %>
      <% if user_signed_in? && current_user.es_admin %>
        <div class="admin-buttons">
          <button class="edit-btn" onclick="">Editar</button>
          <button class="delete-btn" onclick="">Eliminar</button>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <% if @news.size == 0 %>
    <div class="no-posts-message">
      <h2>Aún no hay novedades</h2>
    </div>
  <% end %>
  