<!-- app/views/contact_posts/index.html.erb -->
<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/rails-ujs@6.1.0/dist/rails-ujs.min.js' %>
<div id="contact-posts-container">
  <div id="contact-posts-header">
    <h1>Publicaciones de Paseadores/Cuidadores</h1>
    <% if current_user&.es_admin? %>
      <%= link_to "Agregar Contacto", new_contact_post_path, class: "button", id: "add-contact-button" %>
    <% end %>
  </div>

  <% if @contact_posts.size > 0 %>
    <% @contact_posts.each do |contact_post| %>
      <div class="contact-post">
        <div class="contact-info">
          <h2><%= contact_post.name %></h2>
          <% if contact_post.photo.attached? %>
            <td><%= image_tag contact_post.photo, size: "100x100" %></td>
          <% else %>
            <td><%= image_tag "https://w7.pngwing.com/pngs/163/438/png-transparent-paw-dog-footprints-miscellaneous-animals-pet.png", size: "100x100" %></td>
          <% end %>
          <!--<p><strong>Email:</strong> <%= contact_post.email %></p>
          <p><strong>Teléfono:</strong> <%= contact_post.phone_number %></p>-->
          <p><strong>Trabajo:</strong> <%= contact_post.role %></p>
          <p><strong>Zona de trabajo:</strong> <%= contact_post.zone %></p>
          <p><strong>Días y horarios libres:</strong> <%= contact_post.availability %></p>
        </div>

        <div class="contact-buttons">
          <% if !current_user&.es_admin? %>
            <%= button_tag "Contactar", class: "button" %>
          <% elsif current_user&.es_admin? %>
            <%= link_to "Editar", edit_contact_post_path(contact_post), class: "button" %>
            <%= button_to "Eliminar", contact_post_path(contact_post), method: :delete, class: "button delete-button", data: { confirm: '¿Estás seguro?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-posts">
      <h2>Aún no hay publicaciones creadas</h2>
    </div>
  <% end %>
</div>

<style>
  #contact-posts-container {
    text-align: center;
  }

  #contact-posts-header {
    margin-bottom: 20px;
  }

  .contact-post {
    border: 5px solid #2596be;
    border-radius: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color:#f8934f;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }

  .contact-info {
    flex-grow: 1; /* Hace que este elemento crezca para ocupar el espacio disponible */
  }

  .contact-buttons {
    display: flex;
    flex-direction: column; /* Alinea los botones uno encima del otro */
    align-items: flex-end; /* Alinea los botones a la derecha */
    margin-top: 10px;
  }

  .no-posts {
    margin-top: 20px;
    color: #888;
  }

  
/* Agrega un borde inferior para separar visualmente los contact posts */
.contact-post:not(:last-child) {
  border-bottom: 1px solid #3498db;
}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
  const deleteButtons = document.querySelectorAll('.delete-button');

  deleteButtons.forEach(button => {
    button.addEventListener('click', function(event) {
      event.preventDefault();

      const form = this.form;

      if (confirm('¿Estás seguro de que quieres eliminar este contacto?')) {
        // Si el usuario confirma, realizar la eliminación
        console.log('Confirmado');
        form.submit(); // Enviar el formulario para la eliminación
      } else {
        // Si el usuario cancela, no hacer nada
        console.log('Eliminación cancelada');
      }
    });
  });
});

</script>
