<h2>Agregar contacto</h2>
  <!--<% if @contact_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_post.errors.count, "error") %> prohibieron que este contacto sea guardado:</h2>

      <ul>
        <% @contact_post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  -->

<%= form_with(model: @contact_post, local: true) do |form| %>
  <%= form.label :Nombre %>
  <%= form.text_field :name %>

  <%= form.label :Email %>
  <%= form.text_field :email %>

  <%= form.label :Numero_de_Telefono %>
  <%= form.text_field :phone_number %>

  <%= form.label :Trabajo %>
  <%= form.select :role, ['Paseador', 'Cuidador'], prompt: 'Seleccionar' %>

  <%= form.submit 'Publicar' %>
<% end %>