<!-- app/views/contact_posts/new.html.erb -->

<style>
  .custom-contact-post-form {
    background-color: #2596be;
    color: #fff;
    border: 6px solid #f8934f;
    border-radius: 10px;
    padding: 20px;
  }

  .custom-contact-post-form .form-group label {
    color: #fff;
  }

  .custom-contact-post-form .form-control {
    background-color: #fff;
    color: #000;
  }

  .custom-contact-post-form .btn-primary {
    background-color: #f8934f;
    border-color: #f8934f;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card custom-contact-post-form">
        <div class="card-header">
          <h2 class="text-center">Agregar contacto</h2>
        </div>

        <div class="card-body">
          <%= form_with(model: @contact_post, local: true) do |form| %>
            <div class="form-group">
              <%= form.label :name, "Nombre" %>
              <%= form.text_field :name, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :photo, "Foto" %>
              <%= form.file_field :photo, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :email, "Email" %>
              <%= form.text_field :email, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :phone_number, "Número de Teléfono" %>
              <%= form.text_field :phone_number, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :zone, "Zona de trabajo" %>
              <%= form.text_field :zone, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :availability, "Días y horarios libres" %>
              <%= form.text_area :availability, class: "form-control" %>
            </div>

            <div class="form-group">
              <%= form.label :role, "Trabajo" %>
              <div class="input-group">
                <%= form.select :role, ['Paseador', 'Cuidador'], { prompt: 'Seleccionar' }, class: "form-control" %>
                <div class="input-group-append">
                  <span class="input-group-text" style="max-width: 30px;"><i class="fas fa-chevron-down"></i></span>
                </div>
              </div>
            </div>

            <div class="text-center">
              <%= form.submit 'Publicar', class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
