<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.6.0.min.js' %>
  <%= javascript_include_tag 'https://code.jquery.com/ui/1.12.1/jquery-ui.min.js' %>
  <%= stylesheet_link_tag 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %>

</head>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    color: #333; /* Color de texto principal */
  }

  table {
    width: 80%;
    border-collapse: collapse;
      margin: 20px auto; /* Centra horizontalmente */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    

    th, td {
      padding: 12px;
      text-align: center;
      border-bottom: 1px solid #ddd; /* Línea divisoria */
      vertical-align: middle;
    }

    th {
      position: relative;
      background-color: #2596be;
      margin: 0 auto;
      padding: 20px;
      max-width: 1000px;
      margin-bottom: 35px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2; /* Fondo de filas pares */
    }

    .highlight1 {
      background-color: #f8934f;
      color: #ffffff;
    }

    .highlight2 {
      background-color: #2596be;
      color: #ffffff;
    }

    .button_date{ 
      background-color: #f8934f;
      text-align: center;
      color: #f8934f;
      padding: 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      margin: 5px;
      width: 10%;
      background-image: url('https://cdn-icons-png.flaticon.com/512/55/55281.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30px;
      padding-left: 20px;

    }

    .button_date:hover {
      background-color: #007bff; /* Cambia el color de fondo al pasar el mouse */
      color: #007bff
    }
  
    .custom-dialog {
      max-width: 50%;
      margin: 10px auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      padding: 8px;
    }
  
    /* Estilos para el campo de texto en el cuadro de diálogo */
    .custom-input {
      width: calc(100% - 16px);
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

      </style>

        <h1 style="text-align: center;">Turnos en Espera</h1>
        <table>
          <thead>
            <tr>
              <th>Franja Horaria</th>
              <th>Perros</th>
              <th>Razon</th>
              <% if current_user.es_admin? %>
          <th>Correo</th>
          <th>Elegir Fecha</th>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @appointments_en_espera.each do |appointment| %>
        <tr>
          <td><%= appointment.timeSlot %></td>
          <td>
            <ul>
              <% appointment.dogs.each do |dog| %>
                <li><%= dog.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= appointment.reason %></td>
          <% if current_user.es_admin? %>
            <td><%= User.find(appointment.user_id).email %></td>
            <td>
              <%= form_with(model: appointment, url: update_date_appointment_path(appointment), method: :patch, remote: true) do |f| %>
                <%= f.datetime_field :appointment_date, class: "button_date", id: "calendar" %>
            </td>
            <td>
            <%= f.submit "Confirmar", class: "button", id: "confirmButton", onclick: "return confirm('Confirmar fecha?')" %>
            <% end %>
            <%= form_with(model: appointment, url: update_state_appointment_path(appointment), method: :patch, remote: true) do |f| %>
              <%= f.hidden_field :state, id: "state_value"%>
              <%= f.hidden_field :rejection_reason, id: "rejectionReason" %>
              <%= f.submit "Rechazar", class: "button", id: "rejectButton" %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1 style="text-align: center;">Proximos turnos</h1>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Perros</th>
        <th>Razon</th>
        <% if current_user.es_admin? %>
          <th>Correo</th>
          <th>Editar</th>
        <% end %>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments_aceptados.each do |appointment| %>
        <tr>
            <td><%= appointment.appointment_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td>
            <ul>
              <% appointment.dogs.each do |dog| %>
                <li><%= dog.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= appointment.reason %></td>
          <% if current_user.es_admin? %>
            <td><%= User.find(appointment.user_id).email %></td>
            
          <td>
            <%= form_with(model: appointment, url: update_date_appointment_path(appointment), method: :patch, remote: true) do |f| %>
              <%= f.datetime_field :appointment_date, class: "button_date", id: "calendar" %>
          </td>
          <td>
              <%= f.submit "Confirmar", class: "button", id: "confirmButton", onclick: "return confirm('Confirmar edicion?')" %>
            <% end %>
          <% else %>
              <td>
          <% end %>
            <%= form_with(model: appointment, url: update_state_appointment_path(appointment), method: :patch, remote: true) do |f| %>
              <%= f.hidden_field :state, value: "cancelado" %>
              <%= f.submit "Cancelar", class: "button", id: "cancelar-btn", onclick: "return confirm('Seguro que deseas cancelar el turno?')" %>
            <% end %>
          </td> 
         
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1 style="text-align: center;">Turnos Rechazados</h1>
  <table>
    <thead>
      <tr>
        <th>Perros</th> 
        <th>Franja</th>
        <th>Razon</th>
        <% if current_user.es_admin? %>
          <th>Correo</th>
        <% end %>
        <th>Motivo de rechazo</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments_rechazados.each do |appointment| %>
        <tr>
          <td>
            <ul>
              <% appointment.dogs.each do |dog| %>
                <li><%= dog.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= appointment.timeSlot %></td>
          <td><%= appointment.reason %></td>
          <% if current_user.es_admin? %>
            <td><%= User.find(appointment.user_id).email %></td>
          <% end %>
          <td><%= appointment.rejection_reason %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<!-- esta funcion no esta en la hu, descomentar si el cliente quiere ver los turnos canceladors
  <h1 style="text-align: center;">Turnos Cancelados</h1>
  <table>
    <thead> 
      <tr> 
        <th>Perros</th>
        <th>Franja</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments_cancelados.each do |appointment| %>
        <tr>
          <td>
            <ul>
              <% appointment.dogs.each do |dog| %>
                <li><%= dog.name %></li>
              <% end %>
            </ul>
          </td>
          <td><%= appointment.timeSlot %></td>
          <td><%= appointment.appointment_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
-->           

</html>

<script>

  flatpickr("#calendar", {
    enableTime: true, 
    dateFormat: "Y-m-d H:i",
    minDate: "today",
    
    disable: [
      function(date) {
        // return true to disable
        return (date.getDay() === 0 || date.getDay() === 6);
      }
    ],
    locale: {
      firstDayOfWeek: 1 // start week on Monday
    },
    time_24hr: true,
    // minTime: "08:00",
    // maxTime: "18:00",
  });

</script>


<script>
  $(document).ready(function() {
    $("#rejectButton").on("click", function(e) {
      e.preventDefault();

      // Crea un cuadro de diálogo con un campo de texto
      $("<div>").dialog({
        title: "Motivo de rechazo",
        close: function() {
          $(this).dialog("destroy").remove();
        },
        buttons: {
          "Aceptar": function() {
            // Asigna el valor del campo de texto al campo oculto antes de enviar el formulario
            $("#rejectionReason").val($("#rejectionInput").val());
            $("#state_value").val("rechazado");
            // Muestra el valor en la consola para asegurarse de que se haya asignado correctamente
            console.log($("#rejectionReason").val());
            console.log($("#state_value").val()); 
            // Envía el formulario
            $("form").submit();
            $(this).dialog("close");
          },
          "Cancelar": function() {
            $(this).dialog("close");
          }
        },
        open: function() {
          // Agrega clases de estilo al cuadro de diálogo y al campo de texto
          $(this).dialog("widget").addClass("custom-dialog");
          $(this).html('<input type="text" id="rejectionInput" class="custom-input" placeholder="Motivo de rechazo">');
        }
      });
    });
  });
</script>