<head>
<%= csrf_meta_tags %>
</head>
<h1>Lista de Citas</h1>
<body>
<% if current_user.es_admin? %>
  <% @appointments = Appointment.all %>

  <h2>Turnos en Espera</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Horario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.where(state: 'en_espera').each do |appointment| %>
        <tr>
          <td><%= appointment.id %></td>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.timeSlot %></td>
          <td>
            <% if appointment.appointment_date.present? %>
              <%= appointment.appointment_date.strftime('%d/%m/%Y %I:%M %p') %>
            <% else %>
              <%= link_to "Elegir Fecha", edit_appointment_path(appointment), class: "button"  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Turnos Rechazados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.where(state: 'rechazado').each do |appointment| %>
        <tr>
          <td><%= appointment.id %></td>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.timeSlot %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Próximos Turnos</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.where(state: 'aceptado').each do |appointment| %>
        <tr>
          <td><%= appointment.id %></td>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.appointment_date.present? ? appointment.appointment_date.strftime('%d/%m/%Y %I:%M %p') : "No asignada" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Nuevo Turno", new_appointment_path, class: "button" %>

  <% else %>
  <% @appointments = Appointment.where(user_id: current_user.id) %>

  <h2>Turnos en Espera</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Horario</th>
        <th>Fecha</th>
        <th>Confirmacion</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.where(state: 'en_espera').each do |appointment| %>
        <tr>
          <td><%= appointment.id %></td>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.timeSlot %></td>
          <td>
          <% if appointment.appointment_date.present? %>
          <%= appointment.appointment_date.strftime('%d/%m/%Y %I:%M %p') %>
          <%= form_with(model: appointment, url: update_state_appointment_path(appointment), method: :patch, remote: true) do |f| %>
            <%= f.hidden_field :state, value: 'aceptado' %>
            <%= f.submit "Confirmar", class: "button" %>
          <% end %>
          <% else %>
          <td> En espera </td>
        <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Turnos Rechazados</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.where(state: 'rechazado').each do |appointment| %>
        <tr>
          <td><%= appointment.id %></td>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.timeSlot %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Próximos Turnos</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.where(state: 'aceptado').each do |appointment| %>
        <tr>
          <td><%= appointment.id %></td>
          <td><%= appointment.user.name %></td>
          <td><%= appointment.appointment_date.present? ? appointment.appointment_date.strftime('%d/%m/%Y %I:%M %p') : "No asignada" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Nuevo Turno", new_appointment_path, class: "button" %>

<% end %>
</body>