<!DOCTYPE html>
<html>

  <h1>Turnos en Espera</h1>
  <table>
    <thead>
      <tr>
        <th>Franja Horaria</th>
        <th>Perros</th>
        <% if current_user.es_admin? %>
          <th>Correo</th>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @appointments_en_espera.each do |appointment| %>
        <tr>
          <td><%= appointment.timeSlot %></td>
          <td>
            <ul>
              <% appointment.dogs.each do |dog| %>
                <li><%= dog.name %></li>
              <% end %>
            </ul>
          </td>
          <% if current_user.es_admin? %>
            <td><%= User.find(appointment.user_id).email %></td>
            <td>  
              <%= form_with(model: appointment, url: update_date_appointment_path(appointment), method: :patch, remote: true) do |f| %>
              <%= f.label :appointment_date %>
              <%= f.datetime_field :appointment_date, id: "datetimepicker" %>
              <%= f.submit "Confirmar", class: "button" %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h1>Proximos turnos</h1>
  <table>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Perros</th>
        <% if current_user.es_admin? %>
          <th>Correo</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @appointments_aceptados.each do |appointment| %>
        <tr>
          <td><%= appointment.appointment_date %></td>
          <td>
            <ul>
              <% appointment.dogs.each do |dog| %>
                <li><%= dog.name %></li>
              <% end %>
            </ul>
          </td>
          <% if current_user.es_admin? %>
            <td><%= User.find(appointment.user_id).email %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>


</html>