<!-- app/views/appointment/new.html.erb -->

<h1>Nuevo Turno</h1>

<% if flash[:alert] %>
<div id="alert-message">
<%= flash[:alert] %>
<button id="close-alert">OK</button>
</div>
<% end %>

<% if @ya_tiene_un_turno %>
  <p>Ya tiene un turno asignado</p>
<% else %>
  <p>no tiene</p>
<% end %>


<%= form_for @appointment, html: { id: 'appointment-form', onsubmit: 'return validateForm()' } do |f| %>
  <div class="field">
    <%= f.label :timeSlot %>
    <%= f.select :timeSlot, Appointment.timeSlots.keys %>
  </div>

  <div class="field">
    <%= f.label :dog_ids %>
    <%= f.collection_check_boxes :dog_ids, @user_dogs, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit 'Solicitar Cita' %>
  </div>
<% end %>



<script type="text/javascript">
  function validateForm() {
    var checkboxes = document.querySelectorAll('input[name="appointment[dog_ids][]"]:checked');
    if (checkboxes.length === 0) {
      alert("Selecciona al menos un perro antes de enviar el formulario.");
      return false; // Evitará que se envíe el formulario
    }
    return true; // Se enviará el formulario si al menos un check_box está seleccionado
  }
</script>
