<!-- app/views/appointment/new.html.erb -->


<h1>Nuevo Turno</h1>

<% if flash[:alert] %>
  <div id="alert-message">
    <%= flash[:alert] %>
    <button id="close-alert">OK</button>
  </div>
<% end %>

<%= form_with(model: @appointment, url: appointments_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :timeSlot, "Seleccione un horario" %>
    <%= form.select :timeSlot, Appointment.timeSlots.keys, prompt: "Seleccione un horario" %>
  </div>

  <div class="actions">
    <%= form.submit "Solicitar" %>
  </div>
<% end %>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    var alertMessage = document.getElementById("alert-message");
    var closeAlertButton = document.getElementById("close-alert");

    if (alertMessage) {
      alertMessage.style.display = "block";

      closeAlertButton.addEventListener("click", function() {
        alertMessage.style.display = "none";
      });
    }
  });
</script>

