<!DOCTYPE html>
<html>
  <head>
    <title>Oh My Dog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<p class="home_bar">
Novedades&emsp; Adopciones&emsp; Paseadores/Cuidadores&emsp;

  <% if current_user && !current_user.es_admin %> <!-- Verifica si el usuario existe y no es administrador -->
  <%= link_to "Pedir turno", new_appointment_path, class: "button" %>
  <%= link_to "Mis turnos", appointments_path(@user_id), class: "button" %>
  <% end %>
  <% if current_user && current_user.es_admin %> <!-- Verifica si el usuario existe y es administrador -->
  <%= link_to "Turnos", appointments_path(@user_id), class: "button" %>
  <% end %>

  <% if user_signed_in? %>
    <!-- El usuario est치 autenticado -->
    <% if current_user.es_admin? %>
      <%= link_to "Registrar Usuarios", new_user_registration_path, class: "button" %>
    <% end %>
    <%= link_to "Cerrar Sesi칩n", destroy_user_session_path(@user_id), method: :delete, class: "button" %>
  <% else %>
    <!-- El usuario no est치 autenticado -->
    <%= link_to "Iniciar Sesi칩n", new_user_session_path, class: "button" %>
  <% end %>
  
</p> 

  <body>
    <%= yield %>
  </body>
</html>
