<!DOCTYPE html>
<html>
  <head>
  <title><%=@page_title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "posts", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= javascript_importmap_tags %>

    <p class="home_bar">
    Novedades&emsp; <a class="button" href="<%= adoption_posts_path %>">Adopciones</a>&emsp;

    <% if current_user %>
        <%= link_to "Paseadores/Cuidadores", paseadores_cuidadores_path, class: "button" %>
    <% end %>

    <% if current_user && !current_user.es_admin %>
 
      <%= link_to "Pedir turno", new_appointment_path, class: "button" %>
      <%= link_to "Mis turnos", appointments_path, class: "button" %> 
      <%= link_to "Mis perros", dogs_path(user_id: current_user.id), class: "button" %>
    <% end %>
    <% if current_user && current_user.es_admin %>
      <%= link_to "Turnos", appointments_path, class: "button" %>
      <%= link_to "Registrar Usuarios", new_user_registration_path, class: "button" %>
      <%= link_to "Buscar Usuarios", users_search_path, class: "button" %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "button" %>
      <%= link_to users_show_path(user_id: current_user.id), class: "button" do %>
        <i class="fas fa-user"></i>
      <% end %>
    <% else %>
      <%= link_to "Iniciar Sesión", new_user_session_path, class: "button user-profile-button" %>
    <% end %>

  </p>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  </head>


  <body>
    <%= yield %>
</body>
</html>
